@page "/payments/create"
@using Microsoft.EntityFrameworkCore
@using Сoursework.Models
@inject IDbContextFactory<Сoursework.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create Payment</PageTitle>

<h1>Добавить</h1>

<h2>Оплата</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Payment" OnValidSubmit="AddPayment" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="bookingid" class="form-label">Бронирование:</label>
                <InputNumber id="bookingid" @bind-Value="Payment.BookingId" class="form-control" /> 
                <ValidationMessage For="() => Payment.BookingId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="amount" class="form-label">Сумма:</label>
                <InputNumber id="amount" @bind-Value="Payment.Amount" class="form-control" /> 
                <ValidationMessage For="() => Payment.Amount" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="paymentmethod" class="form-label">Способ оплаты:</label>
                <InputText id="paymentmethod" @bind-Value="Payment.PaymentMethod" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Payment.PaymentMethod" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="paymentdate" class="form-label">Дата оплаты:</label>
                <InputDate id="paymentdate" @bind-Value="Payment.PaymentDate" class="form-control" /> 
                <ValidationMessage For="() => Payment.PaymentDate" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Добавить</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/payments">Назад к списку</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Payment Payment { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddPayment()
    {
        using var context = DbFactory.CreateDbContext();
        context.Payments.Add(Payment);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/payments");
    }
}
